body {
    background: url(https://wallpaperaccess.com/full/822051.jpg);
}
.container {
    background-color: white;
    margin-bottom: 20px;
    border: 4px solid darkcyan;
}
form {
    padding-bottom: 20px;
}
footer{
    text-align: center;
    font-size: 15px;
    color: black;
    position: fixed;
    background-color:darkcyan;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* border: #666666; */
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    /* border-top: 8px solid white; */
    z-index: 999;
    padding-top: 10px;
}
#portfolio-image2{
    margin-top: 18px;
    margin-bottom: 20px;
}
#portfolio-image4{
    margin-top: 27px;
}
#portfolio-image6{
    margin-top: 19px;
}
.responsive {
    width: 100%;
    height: auto;
  }